@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    background-color: #1a1a1a;
    font-family: "Cardo", serif;
    font-family: "Cairo", sans-serif;
}